@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Roman';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SourceSerifPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Serif Roman';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/SourceSerifPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Serif Roman';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/SourceSerifPro-It.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Serif Roman';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/SourceSerifPro-BoldIt.ttf') format('truetype');
}
body {
  margin: 0;
  padding: 0;
}
/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
  margin: 0 auto;
}
@media only screen and (min-width: 1440px) {
  .header {
    background: #f8f8f8 url("../images/desktop/header.png") no-repeat top right;
    min-width: 1440px;
    max-width: 1920px;
    height: 780px;
  }
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header {
    background: #f8f8f8 url("../images/tablet/header.png") no-repeat top right;
    min-width: 764px;
    max-width: 1439px;
    height: 822px;
  }
}
.header__top {
  width: 100%;
}
.header__logo {
  float: left;
}
@media only screen and (min-width: 1440px) {
  .header__menu-toggle {
    display: none;
  }
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__menu-toggle {
    float: left;
    margin: 23px 0 21px 115px;
  }
}
@media only screen and (min-width: 1440px) {
  .header__menu {
    float: left;
    padding: 32px 0 18px 82px;
  }
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__menu {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
  }
}
.header__phone {
  color: #878787;
  font-family: "Source Serif Roman", "Times New Roman", serif;
  font-size: 18px;
  font-style: normal;
  float: right;
}
@media only screen and (min-width: 1440px) {
  .header__phone {
    margin-top: 31px;
    margin-right: 398px;
  }
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__phone {
    margin-top: 16px;
    margin-right: 126px;
  }
}
.header__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__paginator {
  padding: 0;
  margin: 0;
  padding-bottom: 27px;
}
@media only screen and (max-device-width: 1439px) {
  .header__paginator {
    display: none;
  }
}
.header__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 650px;
  width: 428px;
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__center {
    margin-left: 62px;
    margin-top: 86px;
    height: 500px;
    width: 300px;
  }
}
.header__photo {
  margin-right: 432px;
  margin-top: 50px;
  width: 348px;
  height: 533px;
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__photo {
    margin-right: 51px;
    margin-top: 55px;
    width: 327px;
    height: 499px;
  }
}
.header__title {
  color: #212021;
  font-family: "Source Serif Roman", "Times New Roman", serif;
  font-size: 48px;
  margin-bottom: 5px;
  z-index: 100;
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__title {
    font-size: 36px;
    margin-bottom: 13px;
  }
}
.header__back-title {
  position: relative;
}
@media only screen and (min-device-width: 764px) {
  .header__back-title::before {
    content: attr(data-top-title);
    display: block;
    position: absolute;
    color: #fffeff;
    font-family: "Source Serif Roman", "Times New Roman", serif;
    z-index: 1;
  }
}
@media only screen and (min-width: 1440px) {
  .header__back-title::before {
    font-size: 83px;
    top: -114px;
    left: -31px;
  }
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__back-title::before {
    font-size: 48px;
    top: -82px;
    left: -40px;
  }
}
@media only screen and (min-device-width: 764px) {
  .header__back-title::after {
    content: attr(data-bottom-title);
    display: block;
    position: absolute;
    color: #fffeff;
    font-family: "Source Serif Roman", "Times New Roman", serif;
    z-index: 1;
  }
}
@media only screen and (min-width: 1440px) {
  .header__back-title::after {
    font-size: 50px;
    bottom: -21px;
    left: 184px;
  }
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__back-title::after {
    font-size: 46px;
    bottom: -13px;
    left: 58px;
  }
}
.header__desc {
  color: #212021;
  font-family: "Source Serif Roman", "Times New Roman", serif;
  font-size: 18px;
  width: 300px;
  margin-bottom: 30px;
  line-height: 1.23em;
  z-index: 100;
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__desc {
    font-size: 16px;
    width: 274px;
    margin-bottom: 34px;
  }
}
.header__button {
  margin-bottom: 56px;
}
.header__social {
  list-style-type: none;
  margin: 0 0 37px 153px;
  padding: 0;
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__social {
    margin: 0 0 74px 61px;
  }
}
.header__social > li {
  display: inline-block;
  opacity: 0.4;
  font-family: "Source Serif Roman", "Times New Roman", serif;
  font-size: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__social > li {
    font-size: 13px;
  }
}
.header__social > li:not(:last-child)::after {
  content: "—";
  display: inline;
  margin: 0 4px;
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .header__social > li:not(:last-child)::after {
    margin: 0 2px;
  }
}
.header__social-item {
  text-decoration: none;
  color: #212021;
}
/* logo */
@media only screen and (min-width: 1440px) {
  .logo {
    width: 254px;
    height: 76px;
    background: #709c54 url("../images/desktop/logo.png") no-repeat 0 0;
  }
}
@media only screen and (min-device-width: 764px) and (max-device-width: 1439px) {
  .logo {
    width: 201px;
    height: 60px;
    background: #709c54 url("../images/tablet/logo.png") no-repeat 0 0;
  }
}
/* menu */
.menu__items {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
@media only screen and (min-width: 1440px) {
  .menu__items::before {
    content: "";
    display: block;
    width: 90%;
    height: 4px;
    background-color: white;
    position: absolute;
    left: -12px;
    top: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .menu__items > li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1440px) {
  .menu__items > li:first-child {
    display: none;
  }
}
.menu__item {
  font-family: "Source Serif Roman", "Times New Roman", serif;
  color: #212021;
  text-decoration: none;
}
@media only screen and (min-width: 1440px) {
  .menu__item {
    margin-right: 84px;
    opacity: 0.6;
    font-size: 18px;
  }
}
.menu__item:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 1440px) {
  .menu__menu-toggle {
    display: none;
  }
}
.menu-toggle {
  border-top: 2px solid black;
  width: 25px;
  height: 12px;
  position: relative;
}
.menu-toggle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 15px;
  height: 4px;
}
/* paginator */
.paginator {
  counter-reset: paginatorCounter;
  list-style: none;
}
.paginator__item {
  counter-increment: paginatorCounter;
  margin: 0 21px;
  height: 40px;
  line-height: 40px;
}
.paginator__item::after {
  content: "";
  display: inline;
  border-bottom: 2px solid silver;
  padding: 5px 5px;
  font-style: italic;
  font-size: 14px;
  font-family: Lato, Verdana, Arial, sans-serif;
  color: #212021;
}
.paginator__item_current::after {
  content: "0" counter(paginatorCounter);
  border-bottom: 2px solid black;
  padding: 5px 10px;
}
.button {
  text-transform: uppercase;
  font-family: Arial, Calibri, sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: black;
  text-decoration: none;
}
.button::before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: -27px;
  left: 0;
}
.button::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: black;
  vertical-align: middle;
  margin: 0 11px 0 4px;
}
/*# sourceMappingURL=styles.css.map */